$color-black: #121212;
$color-white: #eee;
$color-primary: #f71b2c;
$color-secondary: #007db3;
$color-bg: #faf3f3;
$color-danger: $color-primary;

$font-small: 1.4rem;
$font-default: 1.6rem;
$font-medium: 1.8rem;
$font-large: 22rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$sides: 'top', 'right', 'left', 'bottom';
$spacings: 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100;

$font-colors: (
  black: $color-black,
  white: $color-white,
  primary: $color-primary,
  secondary: $color-secondary,
  danger: $color-danger
);

$font-sizes: (
  small: $font-small,
  default: $font-default,
  medium: $font-medium,
  large: $font-large
);
