.#{$c}node {
  align-items: center;
  border: 1px solid $color-black;
  border-radius: 50%;
  color: $color-black;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: 60px;
  width: 50px;

  &--blue {
    background: $color-secondary;
  }

  &--red {
    background: $color-primary;
  }
}
